<!-- MapServer Template -->
{
  "CORGADBAU (tonnes C ha-1 yr-1)": [value_0],
  "CORGADSSM1 (tonnes C ha-1 yr-1)": [value_1],
  "CORGADSSM2 (tonnes C ha-1 yr-1)": [value_2],
  "CORGADSSM3 (tonnes C ha-1 yr-1)": [value_3],
  "CORGASRBAU (tonnes C ha-1 yr-1)": [value_4],
  "CORGASRSSM1 (tonnes C ha-1 yr-1)": [value_5],
  "CORGASRSSM2 (tonnes C ha-1 yr-1)": [value_6],
  "CORGASRSSM3 (tonnes C ha-1 yr-1)": [value_7],
  "CORGRDSSM1 (tonnes C ha-1 yr-1)": [value_8],
  "CORGRDSSM2 (tonnes C ha-1 yr-1)": [value_9],
  "CORGRDSSM3 (tonnes C ha-1 yr-1)": [value_10],
  "CORGRSRSSM1 (tonnes C ha-1 yr-1)": [value_11],
  "CORGRSRSSM1U (tonnes C ha-1 yr-1)": [value_12],
  "CORGRSRSSM2 (tonnes C ha-1 yr-1)": [value_13],
  "CORGRSRSSM2U (tonnes C ha-1 yr-1)": [value_14],
  "CORGRSRSSM3 (tonnes C ha-1 yr-1)": [value_15],
  "CORGRSRSSM3U (tonnes C ha-1 yr-1)": [value_16],
  "CORGSOCBAU (tonnes C ha-1 yr-1)": [value_17],
  "CORGSOCSSM1 (tonnes C ha-1 yr-1)": [value_18],
  "CORGSOCSSM2 (tonnes C ha-1 yr-1)": [value_19],
  "CORGSOCSSM3 (tonnes C ha-1 yr-1)": [value_20],
  "CORGSSMU (tonnes C ha-1 yr-1)": [value_21],
  "CORGT0 (tonnes C ha-1 yr-1)": [value_22]
}