<!-- MapServer Template -->
{
  "BKD-0-30 (g/cm3)": [value_0],
  "BKD-30-60 (g/cm3)": [value_1],
  "CEC-0-30 (cmol(c)/kg)": [value_2],
  "CEC-30-60 (cmol(c)/kg)": [value_3],
  "CLAY-0-30 (%)": [value_4],
  "CLAY-30-60 (%)": [value_5],
  "CORG-0-30 (%)": [value_6],
  "CORG-30-60 (%)": [value_7],
  "KXX-0-30 (ppm)": [value_8],
  "KXX-30-60 (ppm)": [value_9],
  "PHX-0-30 (pH)": [value_10],
  "PHX-30-60 (pH)": [value_11],
  "PXX-0-30 (ppm)": [value_12],
  "PXX-30-60 (ppm)": [value_13],
  "SAND-0-30 (%)": [value_14],
  "SAND-30-60 (%)": [value_15],
  "SILT-0-30 (%)": [value_16],
  "SILT-30-60 (%)": [value_17]
}