<!-- MapServer Template -->
{
  "ECX-0-30 (dS m-1)": [value_0],
  "ECX-30-100 (dS m-1)": [value_1],
  "NAEXC-0-30 (%)": [value_2],
  "NAEXC-30-100 (%)": [value_3],
  "PHX-0-30 (pH)": [value_4],
  "PHX-30-100 (pH)": [value_5],
  "SALT-0-30 (class)": [value_6],
  "SALT-30-100 (class)": [value_7]
}